name: If Demo with functions
on: 
  push:
    branches:
      - main
      - develop
      - features/**

jobs:
  QA-checks:
    if: startsWith(github.ref_name, 'feature') && github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: perform code quality checks
        if: github.ref_name == 'feature'
        run: echo "This is the feature branch. Running the job."

  dev_deploy:
    if: github.ref_name == 'develop' && github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Dev deploy
        run: echo "deploying to the development environment."

  prod_deploy:
    if: github.ref_name == 'main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Prod deploy
        run: echo "deploying to the production environment deploy."

  success_notify:
    needs: ['prod_deploy', 'dev_deploy', 'QA-checks']
    if: always() && !failure()
    runs-on: ubuntu-latest
    steps:
      - name: Success notification
        run: echo "Deployment to production environment was successful."

  failure_notify:
    needs: ['prod_deploy', 'dev_deploy', 'QA-checks']
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Failure notification
        run: echo "Deployment to production environment failed."